.pageMainSection{
  background-image: linear-gradient(var(--background-color),  var(--background-ideas), var(--background-color), black);
  color: var(--font-color);

  padding-top: 25px;
  height: aut0;

  width: 100%;

  display: flex;
  flex-direction: row;
}   