@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
    --background-color: #EEEEEE;
    --font-color: #000000;
    --link-color:#DC5F00;
    
    
    --background-color-search:  rgb(15 23 42);
}

[data-theme = "dark"]{
    --background-color: rgb(2, 6, 25);

    --background-ideas: #00717f;
    --background-header:black;

    --font-color: #EEEEEE;
    --link-color:#CF0A0A;

    --background-color-search:  rgb(15 23 42);
}

body{
    /* background-color: var(--background-color); */
    color: var(--font-color);
    overflow-x: hidden;
    margin: 0px;
}

a{
    color: var(--link-color);
}

.App{
    margin: 0px;
    padding: 0px;

    background-color: var(--background-color);
}





.embla {
    overflow:hidden;
  }
  .embla__container {
    display: flex;

  }

  .embla__slide {
    flex: 0 0 100%; /* Default slide covers 100% of the viewport */
    height: 200px;
    margin: auto;
    width: 400px;
    border-width: 10px;

    opacity: 0.1;


    background-color: #000000;
    color: #00717f;

    padding: auto;

  }
  @media (min-width: 768px) {
    .embla__slide {
      flex: 0 0 60%; /* Breakpoint SM slide covers 50% of the viewport */
    }
  }
  

