.ideasSectionWrapper {
    background-color: var(--background-color);

    background-image: linear-gradient(var(--background-color),  var(--background-ideas));
    color: var(--font-color);

    height: auto;
    width: 100% ;
    display: flex;
    justify-content: space-between;

    padding-left: 10px;
    padding-right: 10px;

    justify-content: center;
}


.ideasSectionRight{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;

}

.ideasSectionRightButton{
    background-color: white;
    height: 90%;
    width: 165px;
    margin-top: 5%;
    margin-bottom: 5%;

    border-radius: 20px;
    transition: 500ms;
}

.ideasSectionRightButton:hover{
    transform: scale(1.1);
    transition: 500ms;
}


.buildSectionWrapper {
    background-color: var(--background-ideas);
    color: var(--font-color);

    background-image: linear-gradient(var(--background-ideas), black);

    display: flex;
    justify-content: space-between  ;

    padding-top: 7rem;
    padding-left: 20px;
    padding-right: 20px;

    height: 87vh;
  }