.headerWrapper{
    background-image: linear-gradient(var(--background-header),  var(--background-color));
    color: var(--font-color);

    padding-top: 6px;
    padding-bottom: 6px;

    position: relative;


}

.headerTitle{
    font-size: 45px;
    text-align: center;
    font-weight: bold;

    background-color: var(--background-header);
    color: var(--font-color);
}

.headerSearchButton{
    text-align: center;
    font-size: 23px;

    background-color: rgba(0, 0, 0, 0);
    color: #EEEEEE;

    height: 45px;
    margin-left: 8px;
    margin-right: 8px;


    display: flex;
    align-items: flex-end;

}

.headerSearchButtonWrapper{
    display: flex;
    background-image: linear-gradient(var(--background-header),  var(--background-color));

    color: #EEEEEE;

    padding-left: 30px;

}


.headerSubmenuWrapper{
  background-color: rgb(30, 30, 30, 0.95);
  color: var(--font-color);
  position: absolute;
  top: 125px; 
  left: 2.5%;
  z-index: 10;
  height: auto;
  width: 95%;

  display: flex;
  flex-direction: row;

  transform-origin: top;

  border-radius: 30px;
  padding: 10px 15px;
}